/* Generic styling  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

:root {
    --primary-font : Trebuchet MS;
    --coding-font : 'Source Code Pro', monospace;
    --secondary-color: 100, 246, 230;
    --primary-color: 86, 100, 100;
}

body {
    position: relative;
    color: rgb(var(--primary-color));
    font-family: var(--primary-font);
    background-color: rgb(228, 220, 245);
}

/* navigation section  */
header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(var(--primary-color));
    padding: 5px 0 10px 0;
}

header div {
    background-color: rgb(var(--secondary-color));
}

header h1 a {
    font-size: 50px;
    padding: 0px 10px 0px 100px;
    color: rgba(var(--primary-color));
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: lighter;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav ul li {
    list-style: none;
    margin: 0 5px;
}

header nav a {
    position: relative;
    text-decoration: none;
    color: rgb(var(--secondary-color));
    font-size: 20px;
    padding: 2px 5px;
    border-bottom: 3px solid rgb(var(--secondary-color));
    transition: color 0.7s;
}

header nav a:hover {
    color: rgba(var(--primary-color));
    z-index: 9;
    border-bottom: 3px solid rgba(var(--secondary-color));
}

header nav a:before {
    content: "";
    width: 100%;
    height: 0%;
    border-bottom: 3px solid rgb(var(--secondary-color));
    border-radius: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: height 0.7s;
    z-index: -10;
}

header nav a:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(var(--secondary-color));
    position: absolute;
    bottom: 0;
    border-bottom: 3px solid rgb(var(--secondary-color));
}

/* Hero section  */
.hero-section {
    position: relative;
    background-image: 
    url("/assets/images/hero-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}

.hero-section div {
    position: absolute;
    display: inline-block;
    padding: 10px;
    background-color: rgb(var(--secondary-color));
    width: auto;
    font-size: 30px;
    bottom: 20px;
    right: 100px;
}

/* main content  */

main {
    padding: 10px 50px;
}

/* about section  */
.about-section {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px;
    width: 100%;
    justify-content: space-between;
}

.section-title {
    font-size: 30px;
    text-align: right;
    width: 20%;
    border-right: 5px solid;
    padding: 10px;
}

.about-section p {
    margin: 10px;
    line-height: 1.5;
}

.about-section .para {
    margin: 10px;
    width: 75%;
}

/* work section  */
.work-section {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px;
    width: 100%;
    justify-content: space-between;
}

.projects {
    width: 75%;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.project-container a {
    border: 5px solid rgb(var(--secondary-color));
    margin: 10px;
    overflow: hidden;
    color: rgb(var(--primary-color));
}

.surf-report {
    position: relative;
    width: 100%;
    height: 500px;
}

.led-wall, .calculator, .pastel-puzzle, .run-buddy {
    position: relative;
    width: 47%;
    height: 200px;
}

.surf-report {
    background-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%), 
    url("/assets/images/surf-report.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1200px;
    transition: background-image 0.5s, background-position 0.5s;
}

.surf-report:hover {
    background-image: linear-gradient(90deg, rgba(0,0,0,0.716701646478904) 0%, rgba(0,0,0,0.16488091818758754) 50%, rgba(0,0,0,0.7195027669270833) 100%), 
    url("/assets/images/surf-report.jpg");
    background-position: center bottom;
}

.calculator {
    background-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%), 
    url("https://c4.wallpaperflare.com/wallpaper/854/214/410/accounting-black-budget-calculating-wallpaper-preview.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 500px;
    transition: background-image 0.5s, background-size 0.5s, background-position 0.5s;
}

.calculator:hover {
    background-image: linear-gradient(90deg, rgba(0,0,0,0.716701646478904) 0%, rgba(0,0,0,0.16488091818758754) 50%, rgba(0,0,0,0.7195027669270833) 100%), 
    url("https://c4.wallpaperflare.com/wallpaper/854/214/410/accounting-black-budget-calculating-wallpaper-preview.jpg");
    background-size: 500px;
    background-position: center left;

}

.led-wall {
    background-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%), 
    url("/assets/images/led-wall.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
    transition: background-size 0.5s, background-position 0.5s;

}

.led-wall:hover {
    background-image: linear-gradient(90deg, rgba(0,0,0,0.716701646478904) 0%, rgba(0,0,0,0.16488091818758754) 50%, rgba(0,0,0,0.7195027669270833) 100%), 
    url("/assets/images/led-wall.jpg");
    background-size: 550px;
    background-position: center top;

}


.pastel-puzzle {
    background-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%), 
    url("/assets/images/pastel-puzzle.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 500px;
    transition: background-image 0.5s, background-size 0.5s;
}

.pastel-puzzle:hover {
    background-image: linear-gradient(90deg, rgba(0,0,0,0.716701646478904) 0%, rgba(0,0,0,0.16488091818758754) 50%, rgba(0,0,0,0.7195027669270833) 100%), 
    url("/assets/images/pastel-puzzle.jpg");
    background-size: 550px;
}



.run-buddy {
    background-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%), 
    url("/assets/images/run-buddy.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 600px;
    transition: background-image 0.5s, background-size 0.5s;
}

.run-buddy:hover {
    background-image: linear-gradient(90deg, rgba(0,0,0,0.716701646478904) 0%, rgba(0,0,0,0.16488091818758754) 50%, rgba(0,0,0,0.7195027669270833) 100%), 
    url("/assets/images/run-buddy.jpg");
    background-size: 500px;
}

.surf-report::before, .led-wall::before, .calculator::before, .pastel-puzzle::before, .run-buddy::before {
    position: absolute;
    border: 5px solid rgb(var(--secondary-color));
    height: 25px;
    width: 200px;
    bottom: 40px;
    left: 0px;
    font-weight: bold;
    font-size: 1.2em;
    background-color: rgb(var(--secondary-color));
    opacity: 0.9;
}

.surf-report::after, .led-wall::after, .calculator::after, .pastel-puzzle::after, .run-buddy::after {
    position: absolute;
    border: 5px solid rgb(var(--secondary-color));
    height: 20px;
    width: 200px;
    bottom: 10px;
    left: 0px;
    background-color: rgb(var(--secondary-color));
    opacity: 0.9;
}

.surf-report::before {
    content: "Surf Report";
    border-radius: 0px 10px 0px 0px;
}
.surf-report::after {
    content: "Mern Stack";
}

.led-wall::before {
    content: "Led Wall";
    border-radius: 0px 10px 0px 0px;
}

.led-wall::after {
    content: "Node.IoT";
}

.calculator::before {
    content: "Calculator";
    border-radius: 0px 10px 0px 0px;
}

.calculator::after {
    content: "React | Javascript | CSS";
}

.pastel-puzzle::before {
    content: "Pastel Puzzle";
}

.pastel-puzzle::after {
    content: "MERN stack";
}

.run-buddy::before {
    content: "Run Buddy";
    border-radius: 0px 10px 0px 0px;
}

.run-buddy::after {
    content: "HTML | CSS";
}

/* contact section  */
footer {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px 30px;
    width: 100%;
    justify-content: space-between;
    height: auto;
}

.footer-links {
    display: flex;
    align-items: center;
    width: 75%;
    padding: 10px;
}

.footer-links ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-links ul li {
    list-style: none;
    padding: 10px 20px;

}

.footer-links ul li a {
    position: relative;
    padding: 5px;
    text-decoration: none;
    color: rgb(var(--primary-color));
    border-bottom: 3px solid;
    z-index: 10;
    transition: color 0.5s;
    border-bottom: 3px solid rgba(var(--primary-color));
}

.footer-links ul li a:hover {
    color: rgb(var(--secondary-color));

}

.footer-links ul li a::before {
    position: absolute;
    width: 100%;
    height: 0%;
    content: "";
    left: 0;
    bottom: 0px;
    background-color: rgb(var(--primary-color));
    z-index: -10;
    transition: height 0.5s;

}

.footer-links ul li a:hover::before {
    height: 100%;
    border-radius: 3px;
    
}

/* media queries for screen sizes */
/* screen =< 980px  */
@media screen and (max-width: 980px) {
    /* Header section  */
    header h1 a {
        font-size: 30px;
        padding-left: 20px;
    }

    header nav {
        margin-right: 20px;

    }

    header nav ul li a {
        font-size: 16px;
        border-bottom: 2px solid;
    }
    /* Hero section  */
    .hero-section div h2 {
        font-size: 25px;
    }
    /* main section  */
    main {
        padding: 0px 30px;
    }
    /* about section  */
    .section-title {
        font-size: 25px;
        width: 20%;
        border-width: 3px;
        padding: 5px;
    }

    .about-section h2 {
        font-size: 30px;
    }

    .about-section .para {
        margin: 10px;
        width: 75%;
    }

    /* work section  */
    .work-section h2 {
        font-size: 30px;
    }

    .project-container {
        border-width: 1px;
    }

    .surf-report, .led-wall, .calculator, .pastel-puzzle, .run-buddy {
        border: 2px solid;
    }

    .surf-report {
        width: 100%;
        height: 250px;
        background-position: center bottom;
    }

    .led-wall, .calculator, .pastel-puzzle, .run-buddy {
        width: 45%;
        height: 200px;
        background-position: center;
        background-size: cover;
    } 

    /* contact section  */
    footer h2 {
        font-size: 30px;
    }

    .footer-links ul {
        flex-direction: row;
    }

    .footer-links ul li {
        flex-wrap: wrap;
        padding: 10px;
    }
}

@media screen and (max-width: 768px) {
    /* header section  */
    header {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    header div {
        align-self: start;
    }

    nav {
        margin: 10px;
    }

    header h1 {
        font-size: 25px;
    }
    /* hero section  */
    .hero-section div {
        right: 20px;
    }
    
    .hero-section div {
        position: absolute;
        margin: 0 auto;
        right: 0;
        left: 0;
        bottom: 10px;
        opacity: 0.8;
        text-align: center;
    }

    .hero-section div h2 {
        opacity: 1;
    }

    .hero-section div h2 {
        font-size: 20px;
    }

    /* main section  */
    main {
        margin: 0;
        padding: 0;
    }

    /* about section  */

    section {
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }
    
    .section-title {
        width: auto;
        text-align: center;
        border-bottom: 2px solid;
        border-right: none;
    }
    
    .about-section, .work-section, footer {
        align-items: center;
        padding: 0;
        margin: 30px 0px;
    }

    .section-title h2 {
        text-align: center;
    }

    .para {
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .about-section p {
        margin: 0;
        padding: 10px 0px;
    }

    /* work section  */
    .surf-report::before, .led-wall::before, .calculator::before, .pastel-puzzle::before, .run-buddy::before {
        position: absolute;
        left: 0;
        right: 0;
        height: auto;
        width: auto;
        border-radius: 0;
        opacity: 0.9;
        padding: 0;
    }

    .surf-report::after, .led-wall::after, .calculator::after, .pastel-puzzle::after, .run-buddy::after {
        position: absolute;
        left: 0;
        /* right: 0; */
        height: auto;
        width: auto;
        border-radius: 0;
        opacity: 1;
    }

    /* contact me section  */
    footer {
        text-align: center;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .footer-links {
        width: 100%;
    }

    .footer-links li {
        padding: 5px;
    }

    .footer-links a {
        padding: 0;
    } 

    footer .section-title {
        text-align: center;
    }
}


@media screen and (max-width: 575px) {
    /* header section  */
    nav {
        width: 80vw;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    nav ul li {
        padding: 3px;
    }

    /* hero section  */

    /* about section  */

    /* work section  */
    .project-container a {
        width: 100%;
        padding: 0;
    }
}