/* Generic styling  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-font : Arial, Helvetica, sans-serif;
    --coding-font : 'Source Code Pro', monospace;
    --secondary-color: 100, 246, 230;
    --primary-color: 86, 100, 100;
}

body {
    color: rgb(var(--primary-color));
    font-family: var(--primary-font);
}

/* navigation section  */
header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(var(--primary-color));
    padding: 5px 0;
}

header div {
    background-color: rgb(var(--secondary-color));
}

header h1 a {
    font-size: 45px;
    padding-left: 100px;
    color: rgba(var(--primary-color));
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: lighter;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;

}

header nav ul {
    display: flex;
    align-items: center;
}

header nav ul li {
    list-style: none;
    margin: 0 5px;
}

header nav a {
    text-decoration: none;
    color: rgb(var(--secondary-color));
    font-size: 20px;
    padding: 2px 5px;
    border-bottom: 3px solid rgb(var(--secondary-color));
}

/* Hero section  */
.hero-section {
    position: relative;
    background-image: url("../images/hero-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}

.hero-section div {
    position: absolute;
    display: inline-block;
    padding: 10px;
    background-color: rgb(var(--secondary-color));
    width: auto;
    font-size: 30px;
    bottom: 20px;
    right: 100px;
}
